.container {
    height: max-content;
    width: max-content;
    background-color: red;
}


.inputForm {
    height: 20px;
    text-align: center;
    margin: 10px 0;
}

.Menus {
    width: max-content;
    text-align: center;
    display: grid;
    padding: 20px;
}

.select {
    width: 100%;
    margin: 10px 0;
}

.input {
    text-align: center;
}